 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Result driven DevOps, Data Analyst and Data Engineer with 9+ Years of expertise in extensive range of responsibilities in Clinical Trials and Media Analytics business domains. Designing Project Phases to Deployment, Estimation of Time VS Cost factors, mining data, improving data collection techniques, processing data for ad-hoc analyses.</p>
                </div>
                <div class="col-lg-4">
                    <p>In Depth understanding of algorithms and statistics with Programming excellence in the SQL, Python, Spark, R and C and DevOps with CI-CD on AWS, Azure and Terraform. </p>
                </div>
<!--                 <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://drive.google.com/file/d/15Tuizoy9erUpzE6fGp8IMxtgy9lWYFXf/view?usp=sharing" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Resume
                    </a>
                </div> -->
            </div>
        </div>
    </section>
