 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About the Founder</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Avinash Anad is the founder of PrintBloks, BP for Telos, a web 3.0 solution, fueled by TLOS. Also, The founder of Datascience4life Labs: An AIaaS Platform being designed to provide unsupervised, unbiased and self optimizing Solutions.</p>
                </div>
                <div class="col-lg-4">
                    <p>Focused on Result driven, DevOps, Data Analyst and Data Engineer with 12+ Years of exposure to extensive range of responsibilities in Clinical Trials, Media Analytics and FinTech business domains.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                        <a href="https://avinashanad.science" class="btn btn-lg btn-outline">
                        <i class="fa"></i> More ...
                    </a>
                </div>
            </div>
        </div>
    </section>
